---
import Icon from "../../elements/icon/icon.astro";
import { navItemSchema } from "../nav-item-list-schema";
import "./nav-item.pcss";

const props = navItemSchema.parse(Astro.props);

const hasChildren = Astro.slots.has("default");
const dropdownId = `dropdown-toggle-${crypto.randomUUID()}`;
const contentId = `dropdown-content-${crypto.randomUUID()}`;
const isCurrentPage = props.href === Astro.url.pathname;
---

<li
  class:list={["nav-item", props.layout, props.className, hasChildren ? "has-children" : null]}
  id={props.id}
  style={props.customStyle}
>
  {
    hasChildren ? (
      <>
        <input
          type="checkbox"
          id={dropdownId}
          class="nav-item-toggle"
          aria-expanded={props.defaultOpen ? "true" : "false"}
          aria-controls={contentId}
          checked={props.defaultOpen}
        />
        <label
          for={dropdownId}
          class="nav-item-trigger"
          role="button"
          aria-expanded={props.defaultOpen ? "true" : "false"}
          aria-controls={contentId}
          tabindex="0"
        >
          {props.label}
          <slot name="label" />
          <span class="nav-item-icon">
            <Icon name="chevron-right" size="none" aria-hidden="true" />
          </span>
        </label>
        <div id={contentId} role="region" aria-label={`${props.label} submenu`}>
          <slot />
        </div>
      </>
    ) : (
      <a href={props.href} aria-current={isCurrentPage ? "page" : undefined}>
        {props.label}
        <slot name="label" />
      </a>
    )
  }
</li>

<!-- <script src="./nav-item.ts"></script> -->
