---
import clsx from "clsx";
import { getRestProps } from "../../utils";
import Icon from "../Icon/index.astro";
import { buttonSchema } from "./schema";

const props = buttonSchema.parse(Astro.props);
const restProps = getRestProps(Astro.props, buttonSchema);

const Tag = props.link ? "a" : "button";

const classNames = clsx(
  "button",
  `size-${props.size}`,
  `variant-${props.variant}`,
  props.hideText && "icon-only",
  props.className
);

const actions = props.link ? { href: props.link, role: "button" } : { type: "button" };
---

<style>
  @import "./styles.pcss";
</style>

<Tag {...actions} {...restProps} data-icon-position={props.iconPosition} class:list={classNames}>
  {props.iconName && <Icon name={props.iconName} buttonIcon size="none" class="button-icon" />}

  {props.label && <span class:list={props.hideText ? "sr-only" : "label"}>{props.label}</span>}
</Tag>
