---
import Icon from "@skele/components/elements/icon/icon.astro";
import clsx from "clsx";
import MarkdownIt from "markdown-it";
import "./list.pcss";

const {
  items = [],
  direction = "vertical",
  horizontalAlignment = "start",
  size = "md",
  class: className,
  ...restProps
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(restProps).filter(([key]) => !key.startsWith("_"))
);

const classNames = clsx(
  "list",
  `size-${size}`,
  `direction-${direction}`,
  `alignment-${horizontalAlignment}`,
  className
);

const md = new MarkdownIt({ html: true });
---

<ul class:list={classNames} role="list" {...htmlAttributes}>
  {
    items.map((item: any) => {
      return (
        <li class="item">
          <Icon name={item.icon} size="none" class="list-icon" aria-hidden="true" />
          <span set:html={md.renderInline(item.text || "")} />
        </li>
      );
    })
  }
</ul>
