---
import ListItem from "./ListItem.astro";

const {
  items = [],
  direction = "vertical",
  alignX = "start",
  size = "md",
  listType = "icon",
  class: className,
  "data-prop": customDataProp = "items",
  editable = true,
  _component,
  ...htmlAttributes
} = Astro.props;

const hasItems = items?.length > 0;
const hasSlotContent = Astro.slots.has("default");
const usesItemsArray = !hasSlotContent;

const ListTag = listType === "numbered" ? "ol" : "ul";
const showIcons = listType === "icon";

if (!_component && !hasItems && !hasSlotContent) return;

const arrayDataAttributes = editable
  ? {
      "data-editable": "array",
      "data-prop": customDataProp,
      "data-component": "building-blocks/core-elements/list/list-item",
    }
  : {};
---

<div
  class:list={[
    "list",
    `size-${size}`,
    `direction-${direction}`,
    `alignment-${alignX}`,
    `type-${listType}`,
    className,
  ]}
  {...htmlAttributes}
>
  <ListTag role="list" {...arrayDataAttributes}>
    <slot>
      {
        items &&
          items.length > 0 &&
          items.map((item: any) => (
            <ListItem
              data-editable="array-item"
              data-component="building-blocks/core-elements/list/list-item"
              text={item.text}
              iconName={item.iconName}
              iconColor={item.iconColor}
              editable={editable}
              showIcon={showIcons}
            />
          ))
      }
    </slot>
  </ListTag>
</div>

<style is:global>
  @layer components {
    .list {
      padding: 0;
      
      & > :where(ul, ol) {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-em-sm);
        margin: 0;
        margin-top: var(--spacing-lg);
        padding-inline-start: var(--spacing-md);
      }

      &.direction-horizontal {
        & > :where(ul, ol) {
          flex-flow: row wrap;
          gap: var(--spacing-em-sm);
        }
      }

      &.type-bullet {
        & > :where(ul, ol) {
          list-style: disc;
        }
      }

      &.type-numbered {
        & > :where(ul, ol) {
          list-style: decimal;
        }
      }

      &.type-bullet,
      &.type-numbered {

        &.direction-horizontal > :where(ul, ol) > li:not(:first-child) {
          margin-inline-start: var(--spacing-lg);
        }
      }

      &.type-icon {
        & > :where(ul, ol) {
          list-style: none;
          padding: 0;
        }
      }

      &.alignment-end {
        & > :where(ul, ol) {
          align-items: flex-end;
          justify-content: flex-end;
        }
      }

      &.alignment-center {
        & > :where(ul, ol) {
          align-items: center;
          justify-content: center;
        }
      }

      &.size-xs {
        font-size: var(--font-size-xs);
      }

      &.size-sm {
        font-size: var(--font-size-sm);
      }

      &.size-md {
        font-size: var(--font-size-md);
      }

      &.size-lg {
        font-size: var(--font-size-lg);
      }

      &.size-xl {
        font-size: var(--font-size-xl);
      }

      &.size-2xl {
        font-size: var(--font-size-2xl);
      }

      &.size-3xl {
        font-size: var(--font-size-3xl);
      }

      &.size-4xl {
        font-size: var(--font-size-4xl);
      }
    }
  }
</style>