---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Heading from "@core-elements/heading/Heading.astro";
import Image from "@core-elements/image/Image.astro";
import Text from "@core-elements/text/Text.astro";

const {
  heading = "",
  text = "",
  backgroundColor = "base",
  images = [],
  imageType = "logos",
  class: className,
  editable = true,
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);
---

<CustomSection
  class:list={["insurance-text", className]}
  maxContentWidth="2xl"
  paddingHorizontal="lg"
  paddingVertical="4xl"
  colorScheme="default"
  backgroundColor={backgroundColor}
  {...htmlAttributes}
>
  <Heading
    class:list={["insurance-text__heading", className]}
    level="h2"
    size="xl"
    alignX="left"
    data-prop="heading"
  >
    {
      heading.split("||").map((line, i) => (
        <>
          {line}
          {i === 0 ? <br class="mobile-break" /> : null}
        </>
      ))
    }
  </Heading>
  <Text>
    {text}
  </Text>
  {console.log("Images array: ", images)}

  {
    images.length > 0 ? (
      <div class={`insurance-text__images ${imageType}`}>
        {images.map((img) => (
          <Image
            source={img.source}
            alt={img.alt || ""}
            class="insurance-text__image"
            rounded={false}
            aspectRatio="none"
            sizes="auto"
            widths={[]}
            editable={true}
            data-prop-src="img.source"
            data-prop-alt="img.alt"
          />
        ))}
      </div>
    ) : null
  }

  <!-- <div class="insurance-text__images">
    <RenderBlock contentSections={images} propName="images" editable={editable} />
  </div> -->
</CustomSection>

<style>
  .insurance-text__heading {
    align-items: center;
    display: flex;
    font-size: 50px;
    justify-content: center;
    margin: 10px auto;
    position: relative;
    text-align: left;
    z-index: 2;
  }
  .insurance-text__heading:after {
    background-color: #6a6869;
    content: "";
    flex: 1;
    height: 2px;
    margin-left: 30px;
  }

  .mobile-break {
    display: none;
  }

  .insurance-text__images {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
  }

  /* Logos */
  .insurance-text__images.logos .image {
    box-shadow: none;
    height: auto;
    max-width: 150px;
  }

  /* Office images */
  .insurance-text__images.office .image {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    height: auto;
    max-width: 345px;
  }

  @media (max-width: 1024px) {
    .insurance-text {
      text-align: center;
    }
    .insurance-text__heading {
      display: block;
      text-align: center;
    }
    .insurance-text__heading:after {
      display: block;
      margin: 10px auto;
      position: static;
      width: 180px;
    }
  }

  @media (max-width: 768px) {
    .mobile-break {
      display: inline;
    }
  }
</style>
