---
import GridItem from "./grid-item.astro";

const {
  layout = "features",
  minItemWidth = 200,
  maxItemWidth = 320,
  class: className,
  style: userStyle,
  items = [],
  label,
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_bookshop_name")
);

const slugifyLabel = (label: string) => {
  return label
    .toLowerCase()
    .replace(/[^a-z0-9]+/g, "-")
    .replace(/^-+|-+$/g, "");
};

if (!htmlAttributes.id && label) {
  htmlAttributes.id = slugifyLabel(label);
}

const gridStyles = [
  `--min-item-width: ${minItemWidth}px`,
  `--max-item-width: ${maxItemWidth}px`,
  userStyle,
]
  .filter(Boolean)
  .join("; ");
---

<div class:list={["grid", `layout-${layout}`, className]} style={gridStyles} {...htmlAttributes}>
  {
    items &&
      items.length > 0 &&
      items.map((item: any) => <GridItem contentBlocks={item.contentBlocks} />)
  }

  <slot />
</div>
