---
import clsx from "clsx";
import Image from "../../elements/image/image.astro";
import Component from "../../utils/renderBlock.astro";
import "./styles/container.pcss";

const {
  label,
  content_blocks,
  maxContentWidth,
  paddingHorizontal = "md",
  paddingVertical = "md",
  colorScheme,
  backgroundColor,
  backgroundImage,
  class: className,

  ...rest
} = Astro.props;

const {
  source = "",
  alt = "",
  positionVertical = "top",
  positionHorizontal = "center",
} = backgroundImage || {};

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => !key.startsWith("_"))
);

const mainContainerClasses = clsx("container", className);

const backgroundDivClasses = clsx("background", backgroundColor && `bg-${backgroundColor}`);

const backgroundImageClasses = clsx(
  "background-image",
  positionVertical && positionHorizontal && `${positionVertical}-${positionHorizontal}`
);

const contentContainerClasses = clsx(
  "content",
  paddingHorizontal && `pad-x-${paddingHorizontal}`,
  paddingVertical && `pad-y-${paddingVertical}`,
  maxContentWidth && `max-width-${maxContentWidth}`
);
---

<section class:list={mainContainerClasses} data-theme={colorScheme} {...htmlAttributes}>
  {source && <Image class:list={backgroundImageClasses} src={source} alt={alt} />}
  {backgroundColor && <div class:list={backgroundDivClasses} />}

  <div class="outer-content">
    <div class:list={contentContainerClasses}>
      <slot />
      <Component contentBlocks={content_blocks} />
    </div>
  </div>
</section>
