---
import clsx from "clsx";
import MarkdownIt from "markdown-it";
import "./testimonial.pcss";

const {
  quote,
  authorName,
  authorDescription,
  horizontalAlignment = "center",
  class: className,
  ...restProps
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(restProps).filter(([key]) => !key.startsWith("_"))
);

const md = MarkdownIt({ html: true });
const MarkdownText = quote ? md.renderInline(quote) : "";

const classNames = clsx("testimonial", `alignment-${horizontalAlignment}`, className);
---

<blockquote class:list={classNames} {...htmlAttributes}>
  <q class="quote" set:html={MarkdownText} />
  <cite class="author">
    <strong class="name">
      {authorName}
    </strong>
    {authorDescription && <span class="description">- {authorDescription}</span>}
  </cite>
</blockquote>
