---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Heading from "@components/building-blocks/core-elements/heading/Heading.astro";
import Image from "@components/building-blocks/core-elements/image/Image.astro";
import Text from "@components/building-blocks/core-elements/text/Text.astro";
import Split from "@wrappers/split/Split.astro";

const {
  heading = "",
  subheading = "",
  subtext = "",
  callouts = [],
  imageSource = "",
  imageAlt = "",
  reverse = false,
  class: className,
  editable = true,
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);
---

<CustomSection class:list={["callouts", className]} maxContentWidth="2xl" {...htmlAttributes}>
  <Split
    class="split"
    distributionMode="fixed-flexible"
    fixedWidth="400"
    verticalAlignment="center"
    reverse={reverse}
    minSplitWidth={640}
  >
    <Fragment slot="first">
      <heading class="h1-small" level="h2" size="xs" data-prop="subheading">{subheading}</heading>
      <Heading class="h2" level="h3" size="xl" data-prop="heading">
        {heading}
      </Heading>

      <div class="links">
        {
          callouts.map((callout: any, index: number) => (
            <a href={callout.url} data-prop={`callouts.${index}.url`}>
              <figure>
                <Image
                  source={callout.icon}
                  alt={callout.alt}
                  data-prop-src={`callouts.${index}.icon`}
                  data-prop-alt={`callouts.${index}.alt`}
                />
                <Image
                  class="icon-hover"
                  source={callout.iconHover}
                  alt={callout.alt}
                  data-prop-src={`callouts.${index}.iconHover`}
                  data-prop-alt={`callouts.${index}.alt`}
                />
              </figure>

              <article>
                <Heading level="h4" size="sm" data-prop={`callouts.${index}.heading`}>
                  {callout.heading}
                </Heading>

                <Text size="sm" data-prop={`callouts.${index}.text`}>
                  {callout.text}
                </Text>
              </article>
            </a>
          ))
        }
      </div>
    </Fragment>
    <Fragment slot="second">
      <Image
        source={imageSource}
        rounded={false}
        alt={imageAlt}
        aspectRatio="none"
        editable={true}
        width={600}
        height={703}
        data-prop-src="imageSource"
        data-prop-alt="imageAlt"
        data-editable="image"
      />
    </Fragment>
  </Split>
</CustomSection>

<style lang="pcss" is:global>
  @layer page-sections {
    .callouts {
      margin: 40px auto 100px; padding: 0 20px;

      .first{
        max-width: 700px;
      }

      .links{
        margin-top: 20px;
        a{
          display: flex;
          gap: 5px; align-items: start;

          text-decoration: none;
          color: #000;
          font-size: 1.8rem;
          font-weight: 500;
        }

        a figure{
              flex: 0 0 50px;
    position: relative;
    margin: 0;

        }

        a .icon-hover{
              position: absolute;
    transform: scale(0);
    opacity: 0;
    top: 10px;
    transition: all 0.3s;
        }

        a:hover .icon-hover{
 opacity: 1;
    top: -20px;
    transform: scale(1);
        }

        h4{
          color: #000;
    display: block;
    position: relative;
    font: 500 2.3rem / 1.1 poppins, sans-serif;
    transition: .3s;
        }

        a:hover h4{color: var(--pink-dark);}
      }
    }
  }
</style>
