---
import DefinitionListItem from "./DefinitionListItem.astro";

const {
  items,
  alignX = "start",
  class: className,
  "data-prop": customDataProp = "items",
  editable = true,
  _component,
  ...htmlAttributes
} = Astro.props;

const arrayDataAttributes = editable
  ? {
      "data-editable": "array",
      "data-prop": customDataProp,
    }
  : {};
const hasItems = items?.length > 0;
const hasSlotContent = Astro.slots.has("default");

if (!_component && !hasItems && !hasSlotContent) return;
---

<div class:list={["definition-list", `alignment-${alignX}`, className]} {...htmlAttributes}>
  <dl {...editable ? arrayDataAttributes : {}} data-id-key="_component">
    <slot>
      {
        items &&
          items.length > 0 &&
          items.map((item: any) => (
            <DefinitionListItem
              data-editable="array-item"
              data-component="building-blocks/core-elements/definition-list/definition-list-item"
              _component={item._component}
              title={item.title}
              text={item.text}
              editable={editable}
            />
          ))
      }
    </slot>
  </dl>
</div>

<style is:global>
  @layer components {
    .definition-list {
      & > dl > .definition-list-item {
        display: grid;
        gap: var(--spacing-em-sm) var(--spacing-em-md);
        grid-template-columns: auto 1fr;
        margin: 0;
        margin-top: var(--spacing-lg);
      }

      &.alignment-center {
        & > dl {
          align-items: center;
          grid-template-columns: 1fr 1fr;
          justify-content: center;
        }

        & > dl > .title,
        & > dl > .definition-list-item > .title {
          text-align: end;
        }
      }

      &.alignment-end {
        & > dl {
          align-items: end;
          grid-template-columns: auto auto;
          justify-content: end;
        }

        & > dl > .title,
        & > dl > .definition-list-item > .title {
          text-align: start;
        }

        & > dl > .content,
        & > dl > .definition-list-item > .content {
          text-align: end;
        }
      }

      & > dl > .content,
      & > dl > .definition-list-item > .content {
        margin: 0;
      }
    }
  }
</style>