---
import SmartImage from "@components/elements/smart-image/smart-image.astro";
import Component from "@components/utils/renderBlock.astro";

const {
  label,
  contentBlocks,
  headerContentBlocks,
  footerContentBlocks,
  paddingHorizontal,
  paddingVertical,
  colorScheme,
  backgroundColor,
  backgroundImage,
  link,
  rounded = false,
  border = false,
  class: className,

  ...rest
} = Astro.props;

const {
  source = "",
  alt = "",
  positionVertical = "top",
  positionHorizontal = "center",
} = backgroundImage || {};

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_bookshop_name")
);

const slugifyLabel = (label: string) => {
  return label
    .toLowerCase()
    .replace(/[^a-z0-9]+/g, "-")
    .replace(/^-+|-+$/g, "");
};

if (!htmlAttributes.id && label) {
  htmlAttributes.id = slugifyLabel(label);
}

const Tag = link ? "a" : "div";
---

<Tag
  {...htmlAttributes}
  {...link && { href: link }}
  class:list={["card", rounded && "rounded", border && "border", className]}
  data-theme={colorScheme}
>
  {
    source && (
      <SmartImage
        class:list={[
          "background-image",
          positionVertical && positionHorizontal && `${positionVertical}-${positionHorizontal}`,
        ]}
        source={source}
        alt={alt}
      />
    )
  }
  {
    backgroundColor && (
      <div
        aria-hidden="true"
        class:list={["background", backgroundColor && `bg-${backgroundColor}`]}
      />
    )
  }

  {
    (headerContentBlocks || Astro.slots.has("header")) && (
      <div class="header-content">
        <Component contentBlocks={headerContentBlocks} />
        <slot name="header" />
      </div>
    )
  }

  <div class="outer-content">
    <div
      class:list={[
        "content",
        paddingHorizontal && `pad-x-${paddingHorizontal}`,
        paddingVertical && `pad-y-${paddingVertical}`,
      ]}
    >
      <slot />
      <Component contentBlocks={contentBlocks} />
    </div>
  </div>

  {
    (footerContentBlocks || Astro.slots.has("footer")) && (
      <div class="footer-content">
        <Component contentBlocks={footerContentBlocks} />
        <slot name="footer" />
      </div>
    )
  }
</Tag>
