---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Image from "@core-elements/image/Image.astro";
import SimpleText from "@core-elements/simple-text/SimpleText.astro";
import Text from "@core-elements/text/Text.astro";

const {
  heading = "",
  image = {
    source: "",
    alt: "",
  },
  mobileImage = {
    source: "",
    alt: "",
  },
  backgroundImage = {
    source: "",
  },
  reviewText = "",
  author = "",
  authorAlignX = "left",
  starColor = "#febb21",
  backgroundColor = "base",
  class: className,
  editable = true,
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);
---

<CustomSection
  class:list={["reviews", className]}
  maxContentWidth="2xl"
  paddingHorizontal="lg"
  paddingVertical="4xl"
  colorScheme="default"
  backgroundColor={backgroundColor}
  style={backgroundImage?.source ? `background-image: url(${backgroundImage.source});` : undefined}
  {...htmlAttributes}
>
  <div class="container">
    <Image
      class:list={["img-desk", className]}
      source={image.source}
      alt={image.alt}
      rounded={true}
      editable={true}
      data-prop-src="image.source"
      data-prop-alt="image.alt"
    />
    <Image
      class:list={["img-mob", className]}
      source={mobileImage.source}
      alt={mobileImage.alt}
      rounded={true}
      editable={true}
      data-prop-src="mobileImage.source"
      data-prop-alt="mobileImage.alt"
    />
    <Text color="white" editable={true} data-prop="reviewText">
      {reviewText}
    </Text>
    <div class="author">
      <SimpleText
        size="sm"
        alignX="authorAlignX"
        starColor={starColor}
        editable={true}
        data-prop="author"
      >
        {author}
        <div class="star" style={`--star-color: ${starColor};`}></div>
      </SimpleText>
    </div>
  </div>
</CustomSection>

<style>
  .reviews {
    padding: 100px 10px;
    position: relative;
  }
  .reviews .container {
    max-width: 1150px;
  }
  .reviews .author {
    text-transform: uppercase;
  }
  .reviews .star {
    margin: 0 15px;
  }

  .reviews .star:before {
    color: var(--star-color);
    content: "\e80f \e80f \e80f \e80f \e80f";
    font-family: fontello;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 8.4px;
    margin: 0;
  }
</style>
