---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Image from "@core-elements/image/Image.astro";
import SimpleText from "@core-elements/simple-text/SimpleText.astro";
import Text from "@core-elements/text/Text.astro";

const {
  heading = "",
  image = {
    source: "",
    alt: "",
  },
  mobileImage = {
    source: "",
    alt: "",
  },
  backgroundImage = {
    source: "",
  },
  reviewText = "",
  author = "",
  authorAlignX = "left",
  starColor = "#febb21",
  backgroundColor = "base",
  class: className,
  editable = true,
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);
---

<CustomSection
  class:list={["reviews", className]}
  maxContentWidth="2xl"
  paddingHorizontal="lg"
  paddingVertical="4xl"
  colorScheme="default"
  backgroundColor={backgroundColor}
  {...htmlAttributes}
>
  <!-- style={backgroundImage?.source ? `background-image: url(${backgroundImage.source});` : undefined} -->
  <Image
    class:list={["bg", className]}
    source={backgroundImage.source}
    alt={backgroundImage.alt}
    rounded={true}
    editable={true}
    data-prop-src="backgroundImage.source"
    data-prop-alt="backgroundImage.alt"
  />

  <div class="content">
    <div class="container">
      <Image
        class:list={["img-desk", className]}
        source={image.source}
        alt={image.alt}
        rounded={true}
        editable={true}
        data-prop-src="image.source"
        data-prop-alt="image.alt"
      />
      <Image
        class:list={["img-mob", className]}
        source={mobileImage.source}
        alt={mobileImage.alt}
        rounded={true}
        editable={true}
        data-prop-src="mobileImage.source"
        data-prop-alt="mobileImage.alt"
      />
      <Text color="white" editable={true} data-prop="reviewText">
        {reviewText}
      </Text>
      <div class="author">
        <SimpleText
          size="sm"
          alignX="authorAlignX"
          starColor={starColor}
          editable={true}
          data-prop="author"
        >
          {author}
          <div class="star" style={`--star-color: ${starColor};`}></div>
        </SimpleText>
      </div>
    </div>
  </div>
</CustomSection>

<style>
  .reviews {
    position: relative;
  }
  .reviews .content {
    padding: 100px 10px;
  }
  .reviews .bg {
    border-radius: 0;
    inset: 0;
    position: absolute;
    z-index: -1;
  }
  .reviews .bg :global(picture) {
    height: 100%;
  }
  .reviews .bg :global(img) {
    height: 100%;
    min-height: 200px;
    object-fit: cover;
  }
  .reviews .container {
    color: #fff;
    margin: 0 auto;
    max-width: 1150px;
  }
  .reviews .container {
    font-size: 1.4rem;
  }
  .reviews .author {
    font-weight: 600;
    letter-spacing: 1.6px;
    text-transform: uppercase;
  }
  .reviews .star {
    display: inline-block;
    margin: 0 15px;
  }

  .reviews .star:before {
    color: var(--star-color);
    content: "\e80f \e80f \e80f \e80f \e80f";
    font-family: fontello;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 8.4px;
    margin: 0;
  }
  .reviews .img-desk {
    margin: 0;
  }
  .reviews .img-mob {
    display: none;
  }
  .reviews .img-desk :global(img),
  .reviews .img-mob :global(img) {
    width: auto;
  }

  @media (max-width: 1024px) {
    .reviews .bg {
      display: none;
    }
    .reviews .container {
      background-color: #fff;
      border-radius: 20px;
      color: #000;
      padding: 40px 20px;
      text-align: center;
    }
    .reviews .img-desk {
      display: none;
    }
    .reviews .img-mob {
      display: block;
    }
    .reviews .img-mob :global(img) {
      margin: 0 auto;
    }
  }
</style>
