---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Button from "@core-elements/button/Button.astro";
import Heading from "@core-elements/heading/Heading.astro";

const {
  heading = "",
  buttonText = "",
  buttonLink = "",
  buttonVariant = "primary",
  backgroundColor = "base",
  id = "",
  backgroundImage,
  backgroundGradient = "",
  class: className,
  editable = true,
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);
---

<CustomSection
  class:list={["request-bar", className]}
  maxContentWidth="2xl"
  paddingHorizontal="lg"
  paddingVertical="4xl"
  colorScheme="default"
  backgroundColor={backgroundColor}
  backgroundImage={backgroundImage}
  style={backgroundGradient ? "--section-bg-gradient: " + backgroundGradient : undefined}
  {...htmlAttributes}
>
  <Heading level="h2" size="lg" alignX="center" text={heading} data-prop="heading" />
  {
    buttonText && (
      <div class="button-wrap">
        <Button
          text={buttonText}
          link={buttonLink}
          variant={buttonVariant}
          size="md"
          data-prop="buttonText"
        />
      </div>
    )
  }
</CustomSection>

<style>
  .request-bar {
    background: var(--section-bg-gradient, linear-gradient(transparent, transparent));
  }

  .button-wrap {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-xl);
  }
</style>
