---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Heading from "@core-elements/heading/Heading.astro";
import Image from "@core-elements/image/Image.astro";
import List from "@core-elements/list/List.astro";
import ListItem from "@core-elements/list/ListItem.astro";

const {
  heading = "",
  backgroundColor = "base",
  items = [],
  class: className,
  editable = true,
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => key !== "_component")
);
---

<CustomSection
  class:list={["banner-list", className]}
  maxContentWidth="2xl"
  paddingHorizontal="lg"
  paddingVertical="4xl"
  colorScheme="contrast"
  backgroundColor={backgroundColor}
  {...htmlAttributes}
>
  <Image
    source="/src/assets/images/why-bg.jpg"
    alt=""
    class="background-image-why-bg"
    editable={false}
  />
  <Image
    source="/src/assets/images/corner-wave-full.svg"
    alt=""
    class="background-image-corner"
    positionVertical="bottom"
    positionHorizontal="left"
    editable={false}
  />
  <div class="banner-list-content">
    <Heading level="h2" size="xs" alignX="center" data-prop="heading" class="banner-list-heading">
      {heading}
    </Heading>
    <List direction="vertical" alignX="center" data-prop="items">
      {items.map((item: string) => <ListItem text={item} iconName="check" data-prop="" />)}
    </List>
  </div>
</CustomSection>

<style>
  .banner-list-heading {
    margin-top: 0;
  }
  .banner-list-heading :global(.heading-text) {
    text-transform: uppercase;
  }
  .banner-list :global(.content) {
    display: grid;
  }

  .banner-list-content {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .background-image-why-bg :global(img) {
    min-height: 200px;
  }
  .background-image-why-bg {
    grid-row: 1;
    grid-column: 1;
  }

  .background-image-corner {
    margin-top: 0;
    max-width: 50%;
    align-self: flex-end;
    grid-row: 1;
    grid-column: 1;
  }
  .background-image-corner :global(img) {
    max-height: 200px;
    object-fit: contain;
  }
</style>
