---
import CustomSection from "@builders/custom-section/custom-section.astro";
import Heading from "@core-elements/heading/heading.astro";
import SimpleText from "@core-elements/simple-text/simple-text.astro";
import ButtonGroup from "@wrappers/button-group/button-group.astro";

const {
  heading = "",
  subtext = "",
  buttonSections = [],
  colorScheme,
  backgroundColor,
  paddingVertical = "4xl",
  class: className,
  rounded = false,
  ...rest
} = Astro.props;
---

<CustomSection
  class:list={["center-cta", className]}
  maxContentWidth="lg"
  paddingHorizontal="lg"
  paddingVertical={paddingVertical}
  colorScheme={colorScheme}
  backgroundColor={backgroundColor}
  rounded={rounded}
  {...rest}
>
  <div class="stack">
    {
      heading && (
        <Heading level="h2" size="xl" alignX="center">
          {heading}
        </Heading>
      )
    }
    {
      subtext && (
        <SimpleText size="md" alignX="center">
          {subtext}
        </SimpleText>
      )
    }
    {
      buttonSections?.length > 0 && (
        <ButtonGroup class="buttons" buttonSections={buttonSections} alignX="center" />
      )
    }
  </div>
</CustomSection>
