---
import Image from "@core-elements/image/image.astro";
import MarkdownIt from "markdown-it";
const {
  text,
  authorName,
  authorDescription,
  alignX = "center",
  authorImage = "",
  class: className,
  ...restProps
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(restProps).filter(([key]) => key !== "_component")
);

const md = MarkdownIt({ html: true });
const MarkdownText = text ? md.render(text) : "";
---

<blockquote class:list={["testimonial", `alignment-${alignX}`, className]} {...htmlAttributes}>
  <div class="quote">
    {text ? <Fragment set:html={MarkdownText} /> : <slot />}
  </div>
  <div class="author">
    {
      authorImage && (
        <Image
          source={authorImage}
          alt={authorName}
          width={100}
          height={100}
          class="author-image"
          data-prop-src="authorImage"
          data-prop-alt="authorName"
          data-editable="image"
        />
      )
    }
    <cite class="author-content">
      <strong class="name">
        {authorName}
      </strong>
      {
        authorDescription && (
          <>
            <br />
            <span class="description">{authorDescription}</span>
          </>
        )
      }
    </cite>
  </div>
</blockquote>

<style lang="pcss">
  .testimonial {
    display: flex;
    background: var(--color-bg);
    flex-direction: column;
    gap: var(--spacing-em-sm);
    margin: 0;
    margin-top: var(--spacing-lg);
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    padding: var(--spacing-md);

    &.alignment-center {
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    > .quote {
      margin: 0;

      :global(*) {
        font-size: var(--font-size-2xl);
      }

      :global(*:first-child) {
        margin-top: 0;
      }

      :global(*:last-child) {
        margin-bottom: 0;
      }

      :global(*:first-child::before) {
        content: "\201C";
      }

      :global(*:last-child::after) {
        content: "\201D";
      }
    }

    > .author {
      display: flex;
      align-items: center;
      gap: var(--spacing-md);
      margin-top: var(--spacing-md);

      > .author-content {
        font-style: normal;
        text-align: start;
      }

      > .author-image {
        aspect-ratio: var(--ratio-square);
        width: 80px;
        height: 80px;

        :global(picture) {
          border-radius: var(--radius-full);
          overflow: hidden;
        }

        :global(img) {
          height: 100%;
        }
      }
    }
  }
</style>
