---
import Button from "@components/building-blocks/core-elements/button/button.astro";
import Divider from "@components/building-blocks/core-elements/divider/divider.astro";
import Image from "@components/building-blocks/core-elements/image/image.astro";
import Bar from "@components/navigation/bar/bar.astro";
import Text from "@components/building-blocks/core-elements/text/text.astro";
import ButtonGroup from "@components/building-blocks/wrappers/button-group/button-group.astro";
import Container from "@components/building-blocks/wrappers/container/container.astro";

const { links = [], socials = [], footerText = "", logoSource, logoAlt } = Astro.props;
---

<footer class="footer">
  <Container maxContentWidth="2xl" paddingHorizontal="md" paddingVertical="lg">
    <div class="footer-content">
      <div class="content-container">
        <Image source={logoSource} alt={logoAlt} class="footer-logo" editable={false} />
      </div>
      <div class="content-container">
        <Bar navData={links} />
      </div>
    </div>

    <Divider />

    <div class="footer-content">
      <div class="content-container">
        <Text class="footer-legal-text" text={footerText || ""} />
      </div>
      <div class="content-container">
        <ButtonGroup>
          {
            socials.map((social: any) => (
              <Button
                variant="ghost"
                size="lg"
                iconName={social.icon}
                link={social.link}
                hideText="true"
                aria-label={`Visit our ${social.icon} page`}
                target="_blank"
                rel="noopener noreferrer"
              />
            ))
          }
        </ButtonGroup>
      </div>
    </div>
  </Container>
</footer>

<style>
  .footer {
    container-type: inline-size;
    margin-top: var(--spacing-lg);

    .button-group {
      &.align-start {
        @container (max-width: 499px) {
          justify-content: center;
        }
      }
    }
  }

  .footer-content {
    @container (min-width: 500px) {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  :global(.footer .footer-legal-text.text) {
    color: var(--color-text-muted);
    text-align: center;
    @container (min-width: 500px) {
      text-align: start;
    }
  }

  :global(.footer-logo.image) {
    flex-shrink: 0;
  }

  :global(.footer-logo.image img) {
    margin-inline: auto;
    margin-bottom: var(--spacing-md);
    max-height: 2em;
    max-width: min(20em, 100%);
    width: auto;
    @container (min-width: 500px) {
      margin: 0;
    }
  }

  :global(.footer .bar .bar-list) {
    flex-flow: column wrap;
    @container (min-width: 500px) {
      flex-direction: row;
      justify-content: end;
    }
  }
</style>
