---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import DefinitionList from "@core-elements/definition-list/DefinitionList.astro";
import Heading from "@core-elements/heading/Heading.astro";
import Image from "@core-elements/image/Image.astro";
import Text from "@core-elements/text/Text.astro";
import ButtonGroup from "@wrappers/button-group/ButtonGroup.astro";
import Grid from "@wrappers/grid/Grid.astro";
import GridItem from "@wrappers/grid/GridItem.astro";

const {
  column2Heading = "",
  infoLinks = [],
  buttonSections = [],
  column3Heading = "",
  hours = [],
  badge = {
    source: "",
    alt: "",
  },
  copyrightText = "",
  extraLinks = [],
  supportingText = "",
  logoSource = "",
  logoAlt = "",
  _component,
  ...htmlAttributes
} = Astro.props;
---

<footer class="footer" {...htmlAttributes}>
  <CustomSection maxContentWidth="2xl" paddingHorizontal="md" paddingVertical="2xl">
    <Grid gap="md">
      <GridItem>
        <a href="/">
          <Image source="" alt="" />
        </a>
      </GridItem>
      <GridItem>
        <Heading level="h2" size="lg">{column2Heading}</Heading>
        <ButtonGroup buttonSections={infoLinks} direction="column" />
        <ButtonGroup buttonSections={buttonSections} direction="row" />
      </GridItem>
      <GridItem> 
        <Heading level="h2" size="lg">{column3Heading}</Heading>
        <DefinitionList items={hours} />
        <Image source={badge.source} alt={badge.alt} />
      </GridItem>
    </Grid>

    <div>
      <div>
        <Text>{copyrightText}</Text>
        <ButtonGroup buttonSections={extraLinks} direction="row" />
      </div>
      <div>
        <Text>{supportingText}</Text>
        <Image source={logoSource} alt={logoAlt} />
      </div>
    </div>

    <Image editable={false} source="/src/assets/images/footer-wood.png" alt="" />
  </CustomSection>
</footer>

<style lang="pcss" is:global>
  @layer page-sections {
    .footer {
    }
  }
</style>
