---
import Component from "@components/utils/renderBlock.astro";
import Image from "@core-elements/image/Image.astro";

const {
  label,
  contentSections,
  beforeContentSections,
  afterContentSections,
  maxContentWidth,
  paddingHorizontal,
  paddingVertical,
  colorScheme = "inherit",
  backgroundColor,
  backgroundImage,
  link,
  showBeforeAfter = true,
  rounded = false,
  border = false,
  class: className,
  editable = true,
  _component,
  ...htmlAttributes
} = Astro.props;

const {
  source = "",
  alt = "",
  positionVertical = "top",
  positionHorizontal = "center",
} = backgroundImage || {};

const slugifyLabel = (label: string) => {
  return label
    .toLowerCase()
    .replace(/[^a-z0-9]+/g, "-")
    .replace(/^-+|-+$/g, "");
};

if (!htmlAttributes.id && label) {
  htmlAttributes.id = slugifyLabel(label);
}

const Tag = link ? "a" : "div";
---

<Tag
  {...htmlAttributes}
  {...link && { href: link }}
  class:list={["card", rounded && "rounded", border && "border", className]}
  data-theme={colorScheme && colorScheme !== "inherit" ? colorScheme : undefined}
>
  <Image
    class:list={["background-image"]}
    source={source}
    alt={alt}
    editable={editable}
    data-prop-src="backgroundImage.source"
    data-prop-alt="backgroundImage.alt"
    positionVertical={positionVertical}
    positionHorizontal={positionHorizontal}
    background={true}
  />
  {
    backgroundColor && (
      <div
        aria-hidden="true"
        class:list={["background", backgroundColor && `bg-${backgroundColor}`]}
      />
    )
  }

  {
    ((beforeContentSections && showBeforeAfter) || Astro.slots.has("before")) && (
      <div class="before-content">
        <slot name="before">
          {beforeContentSections && (
            <Component contentSections={beforeContentSections} propName="beforeContentSections" />
          )}
        </slot>
      </div>
    )
  }

  <div class="card-outer-content">
    <div
      class:list={[
        "card-content",
        paddingHorizontal && `pad-x-${paddingHorizontal}`,
        paddingVertical && `pad-y-${paddingVertical}`,
        maxContentWidth && `max-width-${maxContentWidth}`,
      ]}
    >
      <slot>
        {
          contentSections && (
            <Component contentSections={contentSections} propName="contentSections" />
          )
        }
      </slot>
    </div>
  </div>

  {
    ((afterContentSections && showBeforeAfter) || Astro.slots.has("after")) && (
      <div class="after-content">
        <slot name="after">
          {afterContentSections && (
            <Component contentSections={afterContentSections} propName="afterContentSections" />
          )}
        </slot>
      </div>
    )
  }
</Tag>

<style lang="pcss" is:global>
  @layer components {
    a.card:hover {
      transform: scale(1.05);
    }

    .card {
      color: inherit;
      display: block;
      margin-top: var(--spacing-lg);
      overflow: hidden;
      position: relative;
      text-decoration: none;
      transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;

      &.rounded {
        border-radius: var(--radius-md);
      }

      &.border {
        border: 1px solid var(--color-border);
      }

      > .card-outer-content {
        height: 100%;
      }

      > .card-outer-content > .card-content {
        height: 100%;
        margin-inline: auto;
        position: relative;
        z-index: var(--layer-1);
        container-type: inline-size;

        > editable-array > editable-array-item:first-child > *:first-child,
        > :not(editable-array):first-child {
          margin-top: 0 !important;
        }

        > editable-array > editable-array-item:last-child > *:last-child,
        > :not(editable-array):last-child {
          margin-bottom: 0 !important;
        }

        &.pad-x-xs {
          padding-inline: var(--spacing-xs);
        }

        &.pad-x-sm {
          padding-inline: var(--spacing-sm);
        }

        &.pad-x-md {
          padding-inline: var(--spacing-md);
        }

        &.pad-x-lg {
          padding-inline: var(--spacing-lg);
        }

        &.pad-x-xl {
          padding-inline: var(--spacing-xl);
        }

        &.pad-x-2xl {
          padding-inline: var(--spacing-2xl);
        }

        &.pad-y-xs {
          padding-block: var(--spacing-xs);
        }

        &.pad-y-sm {
          padding-block: var(--spacing-sm);
        }

        &.pad-y-md {
          padding-block: var(--spacing-md);
        }

        &.pad-y-lg {
          padding-block: var(--spacing-lg);
        }

        &.pad-y-xl {
          padding-block: var(--spacing-xl);
        }

        &.pad-y-2xl {
          padding-block: var(--spacing-2xl);
        }

        @media (--to-sm) {
          &.pad-y-xs {
            padding-block: var(--spacing-xs);
          }

          &.pad-y-sm {
            padding-block: var(--spacing-xs);
          }

          &.pad-y-md {
            padding-block: var(--spacing-sm);
          }

          &.pad-y-lg {
            padding-block: var(--spacing-md);
          }

          &.pad-y-xl {
            padding-block: var(--spacing-md);
          }

          &.pad-y-2xl {
            padding-block: var(--spacing-lg);
          }
        }

        &.max-width-xs {
          max-width: var(--content-width-xs);
        }

        &.max-width-sm {
          max-width: var(--content-width-sm);
        }

        &.max-width-md {
          max-width: var(--content-width-md);
        }

        &.max-width-lg {
          max-width: var(--content-width-lg);
        }

        &.max-width-xl {
          max-width: var(--content-width-xl);
        }

        &.max-width-2xl {
          max-width: var(--content-width-2xl);
        }

        &.max-width-3xl {
          max-width: var(--content-width-3xl);
        }
      }

      > .before-content,
      > .after-content {
        position: relative;
        z-index: var(--layer-2);

        > editable-array > editable-array-item:first-child > *:first-child,
        > :not(editable-array):first-child {
          margin-top: 0 !important;
        }

        > editable-array > editable-array-item:last-child > *:last-child,
        > :not(editable-array):last-child {
          margin-bottom: 0 !important;
        }
      }

      > .card-outer-content {
        position: relative;
        z-index: var(--layer-2);
      }

      > .background {
        inset: 0;
        position: absolute;
      }

      > .background-image {
        z-index: var(--layer-1);
      }
      
      > .bg-base {
        background-color: var(--color-bg);
      }

      > .bg-surface {
        background-color: var(--color-bg-surface);
      }

      > .bg-accent {
        background-color: var(--color-bg-accent);
      }

      > .bg-highlight {
        background-color: var(--color-bg-highlight);
      }
    }
  }
</style>
