---
import clsx from "clsx";
import Component from "../../utils/renderBlock.astro";
import "./grid.pcss";

const {
  minItemWidth = 200,
  maxItemWidth = 320,
  verticalAlignment = "start",
  horizontalAlignment = "center",
  equalWidth = true,
  class: className,
  style: userStyle,
  items = [],
  ...rest
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => !key.startsWith("_"))
);

const gridClasses = clsx(
  "grid",
  `align-${verticalAlignment}`,
  `justify-${horizontalAlignment}`,
  !equalWidth && "non-equal",
  className
);

const gridStyles = [
  equalWidth && `--min-width: ${minItemWidth}px`,
  equalWidth && `--max-width: ${maxItemWidth}px`,
  `--justify-content: ${horizontalAlignment}`,
  userStyle,
]
  .filter(Boolean)
  .join("; ");
---

<div class:list={gridClasses} style={gridStyles} {...htmlAttributes}>
  {
    items.map((item: any, index: number) => (
      <div class="grid-item">
        <Component contentBlocks={item.contentBlocks} />
      </div>
    ))
  }
</div>
