---
import StructuredData from "@components/utils/Structureddata.astro";
import seoData from "@data/seo.json";
import "@styles/style.pcss";
import { SEO } from "astro-seo";

export interface Props {
  title: string;
  description?: string | null;
  keywords?: string[] | null;
  image?: string | null;
  canonical?: string | null;
  contentSections?: any;
}

const props = Astro.props;
const formattedTitle = seoData.defaultSeo.titleFormat.replace("{title}", props.title);
const pageDescription = props.description || seoData.defaultSeo.description;
const pageImage = props.image || seoData.defaultSeo.image;
---

<!doctype html>
<html lang="en" data-theme="default">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <script>
      if (window.inEditorMode) {
        import("../../live-editing");
      }
    </script>

    <SEO
      title={formattedTitle}
      description={pageDescription}
      openGraph={{
        basic: {
          title: formattedTitle,
          type: "website",
          image: pageImage,
        },
        optional: {
          description: pageDescription,
        },
      }}
      extend={{
        link: [
          {
            rel: "canonical",
            href: props.canonical || Astro.url.href,
          },
        ],
      }}
    />

    <StructuredData type="Organization" data={seoData.organization} />

    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap-index.xml" />

    <slot name="head" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
