---
import clsx from "clsx";
import Image from "../../elements/image/image.astro";
import Component from "../../utils/renderBlock.astro";
import "./card.pcss";

const {
  label,
  contentBlocks,
  paddingHorizontal = "sm",
  paddingVertical = "sm",
  colorScheme,
  backgroundColor,
  backgroundImage,
  link,
  rounded = false,
  border = false,
  class: className,

  ...rest
} = Astro.props;

const {
  source = "",
  alt = "",
  positionVertical = "top",
  positionHorizontal = "center",
} = backgroundImage || {};

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => !key.startsWith("_"))
);

const mainCardClasses = clsx("card", rounded && "rounded", border && "border", className);

const backgroundDivClasses = clsx("background", backgroundColor && `bg-${backgroundColor}`);

const backgroundImageClasses = clsx(
  "background-image",
  positionVertical && positionHorizontal && `${positionVertical}-${positionHorizontal}`
);

const contentCardClasses = clsx(
  "content",
  paddingHorizontal && `pad-x-${paddingHorizontal}`,
  paddingVertical && `pad-y-${paddingVertical}`
);

const Tag = link ? "a" : "div";
---

<Tag
  {...htmlAttributes}
  {...link && { href: link }}
  class:list={mainCardClasses}
  data-theme={colorScheme}
>
  {source && <Image class:list={backgroundImageClasses} src={source} alt={alt} />}
  {backgroundColor && <div class:list={backgroundDivClasses} />}

  <div class="outer-content">
    <div class:list={contentCardClasses}>
      <slot />
      <Component contentBlocks={contentBlocks} />
    </div>
  </div>
</Tag>
